body{
  background-color: #DDD;
}

.principal{
  background-color: #DDD;
}

md-toolbar.md-table-toolbar.md-default-theme:not(.md-menu-toolbar).md-default, md-toolbar.md-table-toolbar:not(.md-menu-toolbar).md-default {
  background-color: #1e88e5;
  color: white;
}

.container{
  width: 100%;
  overflow-x: auto;
}

.right{
    position: absolute;
    right: 40px;
}
